/* For root */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* google fonts "Fire Sans" connect here  */


.font-fira-sans{
    font-family: "Fira Sans", sans-serif;
}
/* Shared styles here */
.website-border{
    max-width: 72rem;
    max-height: 35rem;
    margin: 0 auto;
}

.btn-primary{
    color: rgba(0, 106, 80, 1);
    padding: 13px 26px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    background-color: #fff;
    border: 1px solid rgba(0, 106, 80, 1);
    cursor: pointer;
}

/* nav bar style here */
.nav-container{
    margin-top: 30px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}
/* Hero Section start here  */
#hero{
    margin-top: 4.75rem;
    border-radius: 24px;
    background: rgba(198, 228, 214, 1);
    padding: 80px 100px 80px 100px;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.hero-description h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
.hero-description h1{
    font-size: 3.1rem;
    line-height: 67px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 1.4rem;
}
.hero-description button{
    background-color: rgba(0, 106, 80, 1);
    color: #fff;
}

/* pillar section style */
#pillar-container{
    margin-top: 4.75rem;
}
.pillar-heading h2{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 2rem;
}
.pillar-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
}
.cards{
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    box-shadow: 1px 2px 5px rgb(181, 156, 156);
}
.cards img{
    width: 4rem;
    margin-bottom: 1.3rem;
}
.cards h4{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: .80rem;
}
.cards p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}